.publishers-container {
  padding: 7rem 20rem;
  font-size: 1rem;
  font-style: normal;
  color: #345666;
  background-color: #f4f7f9;
}

.input-container {
  display: flex;
  margin-bottom: 2rem;
}

.input-container input {
  flex: 1;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #ccc;
  margin-right: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.input-container input:focus {
  border-color: #007bff;
}

.add-btn {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-btn:hover {
  background-color: #0056b3;
}

.add-btn:focus {
  outline: none;
}

.publishers-list {
  margin-top: 2rem;
}
